<!DOCTYPE html>
<html>
<head>
  <title>CloneWars</title>
  <%= stylesheet_link_tag    "clone_wars/application", :media => "all" %>
  <%= javascript_include_tag "clone_wars/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
